@model ResumeManager.Models.SaleInvoice

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaleInvoiceVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesInvoiceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesInvoiceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesInvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesInvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatAmount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalesInvoiceID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
