@model ResumeManager.ViewModel.SaleInvoiceVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleInvoiceVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesInvoiceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesInvoiceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesInvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesInvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalesInvoiceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
